/* Custom Full-Length Navbar */
#particle-navbar {
  width: 100%;
  padding: 25px;
  float: left;
}
#p-nav-bars {
	display: none;
	float: right;
}
/* Custom Full-Length Navbar */
#p-nav-left {
	float: left;
}
#p-nav-right {
	float: right;
}
#p-nav-mobile {
	display: none;
}
#p-nav-right span, #p-nav-left span {
	padding-right: 20px;
	padding-left: 20px;
}
#p-menu-burger {
	width: 30px; height: 5px; display: block; margin-top: 3px; margin-bottom: 3px
}

/* Custom Mobile Menu-drop down */
@media (max-width: 520px) {

	#p-nav-left {
		display: none;
	}
	#p-nav-right {
		display: none;
	}
	#p-nav-bars {
		display: block;
	}
	#p-nav-mobile {
		text-align: center;
	    width: 100%;
	}
	#p-nav-mobile span {
		padding: 25px;
	    display: inline-block;
	    width: 100%;
	}
	#p-nav-mobile span:hover {
		background-color: green;
	}
 
}




