/*----- Navbar Standard Theme Options -----*/
.p-bar-red {
  	background-color: red; 
}
.p-bar-grey {
  	background-color: grey; 
}
.p-bar-green {
  	background-color: green; 
}


.p-font-white {
	color: white;
	font-size: 14px;
}


.p-hover-red span a:hover {
	color: red;
	text-decoration: none;
}
.p-hover-blue span a:hover {
	color: blue;
	text-decoration: none;
}
.p-hover-green span a:hover {
	color: green;
	text-decoration: none;
}


.p-hover-red span a {
	color: white;
}
.p-hover-blue span a {
	color: white;
}
.p-hover-green span a {
	color: white;
}


.p-menu-burger-blue {
	background-color: blue;
}

